<% title "Home" %>

<% content_for :stylesheet do %>
<% end %>

<% content_for :header do %>
    <%= render :partial => 'layouts/navbar', :locals => {id: :home} %>
<% end %>

<div class="container">
  <h1>Home Rastreamento App</h1>
</div>

<% content_for :javascript do %>
<% end %>
